
//=====================================================#
//               COACHING STYLESHEET                   #
//=====================================================#

.coach_form{
  width: 20rem;
  height: 30rem;
  margin-left: 10rem;
  margin-top: 4rem;
}

